// font family local files
@font-face {
    font-family: 'Avenir Next';
    src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf) format("opentype"),
         url(../../assets/fonts/Alternative\ files/AvenirNextLTPro.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Avenir Next';
    src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf) format("opentype"),
         url(../../assets/fonts/Alternative\ files/AvenirNextLTPro-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir Next';
    src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf) format("opentype"),
         url(../../assets/fonts/Alternative\ files/AvenirNextLTPro-Demi.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}

body{
    font-family: 'Avenir Next';
}
// font weight variables
$bold: 700;
$demi: 600;
$regular-size: 400;


// font setup
@mixin desktop-page-header{
    font-size: 4.8rem;
    line-height: 4.25rem;
    font-weight: $demi;
}
@mixin desktop-section-header{
    font-size: 3.35rem;
    line-height: 2.75rem;
    font-weight: $demi
}
@mixin desktop-subheader{
    font-size: 1.7rem;
    line-height: 2.25rem;
    font-weight: $demi;
}
@mixin desktop-body-copy{
    font-size: 1.25rem;
    line-height: 2.1rem;
    font-weight: $regular-size;
}
@mixin desktop-footer-copy{
    font-size: 1rem;
    line-height: 2.1rem;
    font-weight: $regular-size;
}
@mixin desktop-label-buttons{
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: $bold;
}

@mixin mobile-page-section-header {
    font-size: 2.325rem;
    line-height: 3rem;
    font-weight: $demi;
}
@mixin mobile-sub-header {
    font-size: 1.35rem;
    line-height: 2.25rem;
    font-weight: $demi;
}
@mixin mobile-body-footer-copy {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: $regular-size;
}
@mixin mobile-label-buttons {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: $bold;
}
