@use "../partials/font" as *;
@use "../partials/colors" as *;
@use "../partials/variables" as *;


@mixin tablet{
    @media screen and (min-width: $tablet-break-point) {
        @content;
    }
}
@mixin desktop{
    @media screen and (min-width: $desktop-break-point) {
        @content;
    }
}


body{
    @include mobile-body-footer-copy;
    @include tablet{
        @include desktop-body-copy;
    }
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
.page-header, .section-header{
    @include mobile-page-section-header;
    @include tablet{
        @include desktop-page-header;
    }
}
.section-header{
    @include tablet{
        @include desktop-section-header;
    }
}
.sub-header{
    @include mobile-sub-header;
    @include tablet{
        @include desktop-subheader;
        }
}
.label{
    @include mobile-label-buttons;
    @include tablet{
        @include desktop-label-buttons;
    }
}
footer{
    @include tablet{
        @include desktop-footer-copy;
    }
}

@mixin comment{
    background-color: $color-alabaster;
    color: $color-black;
    border: 0.0625rem solid $color-mercury;
    border-radius: 0.25rem;
    &:focus{
    border: 0.0625rem solid $color-black;
    outline: none;

    }
}


@mixin logo {
    max-width: 7.5rem;
    min-width: 1.25rem;
    max-height: 1.25rem;
}


@mixin avatar{
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    @include tablet{
        width: 4.75rem;
        height: 4.75rem;
    }
}
