$mobile-long-padding: 1.5rem;
$mobile-short-padding: 1.25rem;
$desktop-long-padding: 3rem;
$desktop-short-padding: 2.25rem;

$mobile-break-point: 20rem;
$tablet-break-point: 48rem;
$desktop-break-point: 80rem;
