$mobile-long-padding: 24px;
$mobile-short-padding: 16px;
$desktop-long-padding: 48px;
$desktop-short-padding: 36px;

$mobile-break-point: 320px;
$tablet-break-point: 768px;
$desktop-break-point: 1280px;
