html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Avenir Next";
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf) format("opentype"), url(../../assets/fonts/Alternative\ files/AvenirNextLTPro.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf) format("opentype"), url(../../assets/fonts/Alternative\ files/AvenirNextLTPro-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf) format("opentype"), url(../../assets/fonts/Alternative\ files/AvenirNextLTPro-Demi.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}
body {
  font-family: "Avenir Next";
}

body {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 400;
  overflow-x: hidden;
}
@media screen and (min-width: 48rem) {
  body {
    font-size: 1.15rem;
    line-height: 1.75rem;
    font-weight: 400;
  }
}
@media screen and (min-width: 80rem) {
  body {
    font-size: 1.15rem;
    line-height: 1.75rem;
    font-weight: 400;
  }
}

a {
  text-decoration: none;
}

.page-header, .section-header {
  font-size: 2.125rem;
  line-height: 2rem;
  font-weight: 600;
}
@media screen and (min-width: 48rem) {
  .page-header, .section-header {
    font-size: 4.8rem;
    line-height: 4.25rem;
    font-weight: 600;
  }
}

@media screen and (min-width: 48rem) {
  .section-header {
    font-size: 2.95rem;
    line-height: 2.75rem;
    font-weight: 600;
  }
}

.sub-header {
  font-size: 1.25rem;
  line-height: 2.125rem;
  font-weight: 600;
}
@media screen and (min-width: 48rem) {
  .sub-header {
    font-size: 1.7rem;
    line-height: 2.25rem;
    font-weight: 600;
  }
}

.label {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
}
@media screen and (min-width: 48rem) {
  .label {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 700;
  }
}

@media screen and (min-width: 48rem) {
  footer {
    font-size: 1.0625rem;
    line-height: 1.75rem;
    font-weight: 400;
  }
}

.nav {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
@media screen and (min-width: 48rem) {
  .nav {
    flex-direction: row;
    height: 7rem;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 80rem) {
  .nav {
    padding-left: 9rem;
  }
}
.nav__logo {
  padding: 1rem 0 0.5rem 0;
  width: 10rem;
}
@media screen and (min-width: 48rem) {
  .nav__logo {
    padding-left: 2.25rem;
    padding-right: 4.5rem;
  }
}
.nav__items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
@media screen and (min-width: 48rem) {
  .nav__items {
    width: auto;
    height: 100%;
    align-items: flex-end;
  }
}
.nav__link {
  color: #e1e1e1;
  padding-bottom: 1.35rem;
  width: 50%;
  text-align: center;
}
.nav__link:active {
  color: #ffffff;
  font-weight: 700;
}
.nav__link:hover {
  color: #ffffff;
  font-weight: 600;
}
.nav__link--highlight {
  border-bottom: 2px solid #ffffff;
  font-weight: 600;
}
@media screen and (min-width: 48rem) {
  .nav__link {
    width: 100%;
    margin-right: 3rem;
    height: 42%;
  }
}

.hero {
  background-image: url(../assets/images/hero-bio.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 20rem;
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 48rem) {
  .hero {
    height: 31.9rem;
  }
}
@media screen and (min-width: 80rem) {
  .hero {
    height: 80vh;
  }
}
.hero__title {
  color: #ffffff;
  background-color: rgba(32, 32, 32, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1.25rem;
}
@media screen and (min-width: 48rem) {
  .hero__title {
    padding-left: 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .hero__title {
    padding-left: 12rem;
  }
}

.header {
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 48rem) {
  .header {
    margin-bottom: 3rem;
  }
}

.intro {
  padding: 0 1.25rem;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 48rem) {
  .intro {
    padding: 0 2.25rem;
    position: relative;
  }
}
@media screen and (min-width: 80rem) {
  .intro {
    padding: 0 11rem;
  }
}
@media screen and (min-width: 48rem) {
  .intro__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 80rem) {
  .intro__body {
    max-width: 96%;
    margin-left: auto;
    margin-right: auto;
  }
}
.intro__images {
  width: 100%;
  padding-top: 1.25rem;
  aspect-ratio: 17/9;
}
@media screen and (min-width: 48rem) {
  .intro__images {
    width: 87%;
  }
}
@media screen and (min-width: 80rem) {
  .intro__images {
    height: 80%;
    padding-top: 3rem;
  }
}
.intro__slogan--quote {
  padding-top: 1.25rem;
  color: #323232;
}
.intro__slogan--citation {
  font-weight: 600;
  padding-bottom: 1.5rem;
}
@media screen and (min-width: 48rem) {
  .intro__slogan--citation {
    padding-top: 2.25rem;
    padding-bottom: 3rem;
  }
}
@media screen and (min-width: 48rem) {
  .intro__slogan {
    padding-top: 2.25rem;
    padding-left: 5%;
    padding-right: 6%;
  }
}
@media screen and (min-width: 48rem) {
  .intro__content {
    padding-left: 5%;
    padding-right: 5%;
  }
}
.intro__content--title {
  padding-bottom: 1.25rem;
}
.intro__content--reading {
  padding-bottom: 1.25rem;
  font-weight: 400;
}
@media screen and (min-width: 48rem) {
  .intro__content--reading:first-child {
    margin-right: 2rem;
  }
}
@media screen and (min-width: 48rem) {
  .intro__content--reading {
    padding-bottom: 3rem;
  }
}
@media screen and (min-width: 48rem) {
  .intro__content--card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.gallery {
  padding: 1.25rem 1.25rem;
  background-color: #fafafa;
}
@media screen and (min-width: 48rem) {
  .gallery {
    padding: 2.25rem 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .gallery {
    padding: 3rem 11rem;
  }
}
.gallery__pic {
  width: 100%;
  padding-bottom: 1.25rem;
}
@media screen and (min-width: 48rem) {
  .gallery__pic {
    width: 31%;
    padding-bottom: 2.25rem;
  }
}
.gallery__title {
  padding-bottom: 1.25rem;
}
@media screen and (min-width: 48rem) {
  .gallery__title {
    padding-top: 2.25rem;
    padding-bottom: 3rem;
    font-weight: 600;
  }
}
@media screen and (min-width: 48rem) {
  .gallery__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
  }
}

.footer {
  position: relative;
  width: 100%;
}
@media screen and (min-width: 48rem) {
  .footer {
    height: 120%;
    font-size: 1.0625rem;
    line-height: 1.75rem;
    font-weight: 400;
  }
}
.footer__blank {
  height: 2rem;
  display: none;
}
@media screen and (min-width: 48rem) {
  .footer__blank {
    display: block;
  }
}
.footer__logo--mobile {
  padding-bottom: 1.25rem;
  padding-top: 3.75rem;
}
@media screen and (min-width: 48rem) {
  .footer__logo--mobile {
    display: none;
  }
}
.footer__logo--tablet {
  display: none;
}
@media screen and (min-width: 48rem) {
  .footer__logo--tablet {
    display: block;
    position: absolute;
    width: 10rem;
    right: 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer__logo--tablet {
    right: 9rem;
  }
}

.social {
  background-color: #323232;
  color: #ffffff;
  padding: 1.5rem 1.25rem 1.25rem 1.25rem;
}
@media screen and (min-width: 48rem) {
  .social {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    padding-top: 3rem;
  }
}
@media screen and (min-width: 80rem) {
  .social {
    padding: 3rem 9rem;
  }
}
@media screen and (min-width: 48rem) {
  .social__media {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}
.social__media > * {
  padding-bottom: 1.25rem;
}
.social__media--list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (min-width: 48rem) {
  .social__media--list {
    padding-left: 2rem;
  }
}
.social__media--link {
  margin-right: 2rem;
}
@media screen and (min-width: 48rem) {
  .social__media--title {
    font-weight: 600;
  }
}
@media screen and (min-width: 48rem) {
  .social__media--pic {
    width: 40px;
    max-height: 32px;
  }
}
.social__contact > * {
  padding-bottom: 1.25rem;
}
.social__contact > * > * {
  padding-bottom: 1.25rem;
}
.social__contact--email {
  color: #ffffff;
}
@media screen and (min-width: 48rem) {
  .social__contact {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 3rem 0;
  }
}
@media screen and (min-width: 48rem) {
  .social__contact--person {
    padding: 0 0.2rem;
    padding-right: 5rem;
  }
}
@media screen and (min-width: 80rem) {
  .social__contact--person {
    padding-right: 3.55rem;
  }
}
@media screen and (min-width: 48rem) {
  .social__contact--name {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
  }
}
@media screen and (min-width: 80rem) {
  .social__contact--name {
    font-size: 18px;
  }
}
.social__contact__copyright {
  padding-top: 20%;
}
@media screen and (min-width: 48rem) {
  .social__contact__copyright {
    height: 5rem;
  }
}

.fans {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.fans__container {
  height: 30%;
  width: 100%;
  border: 3px solid black;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.fans__container--section {
  display: flex;
  flex-direction: column;
}
.fans__container--name {
  display: block;
}
.fans__container--comment {
  width: 60%;
  height: 50%;
}
.fans__container--avatar {
  width: 60px;
  height: 60px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.fans__saved {
  margin-top: 2rem;
  overflow: scroll;
}
.fans__saved--content {
  border-top: 1px solid #afafaf;
  border-bottom: 1px solid #afafaf;
}
.fans__saved--avatar {
  float: left;
}
.fans__saved--info {
  display: flex;
  justify-content: space-between;
  margin-left: 5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.fans__saved--comment {
  margin-left: 5rem;
}/*# sourceMappingURL=bio.css.map */