html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Avenir Next";
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf) format("opentype"), url(../../assets/fonts/Alternative\ files/AvenirNextLTPro.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf) format("opentype"), url(../../assets/fonts/Alternative\ files/AvenirNextLTPro-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf) format("opentype"), url(../../assets/fonts/Alternative\ files/AvenirNextLTPro-Demi.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}
body {
  font-family: "Avenir Next";
}

body {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 400;
  overflow-x: hidden;
}
@media screen and (min-width: 48rem) {
  body {
    font-size: 1.15rem;
    line-height: 1.75rem;
    font-weight: 400;
  }
}
@media screen and (min-width: 80rem) {
  body {
    font-size: 1.15rem;
    line-height: 1.75rem;
    font-weight: 400;
  }
}

a {
  text-decoration: none;
}

.page-header, .section-header {
  font-size: 2.125rem;
  line-height: 2rem;
  font-weight: 600;
}
@media screen and (min-width: 48rem) {
  .page-header, .section-header {
    font-size: 4.8rem;
    line-height: 4.25rem;
    font-weight: 600;
  }
}

@media screen and (min-width: 48rem) {
  .section-header {
    font-size: 2.95rem;
    line-height: 2.75rem;
    font-weight: 600;
  }
}

.sub-header {
  font-size: 1.25rem;
  line-height: 2.125rem;
  font-weight: 600;
}
@media screen and (min-width: 48rem) {
  .sub-header {
    font-size: 1.7rem;
    line-height: 2.25rem;
    font-weight: 600;
  }
}

.label {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
}
@media screen and (min-width: 48rem) {
  .label {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 700;
  }
}

@media screen and (min-width: 48rem) {
  footer {
    font-size: 1.0625rem;
    line-height: 1.75rem;
    font-weight: 400;
  }
}

.nav {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
@media screen and (min-width: 48rem) {
  .nav {
    flex-direction: row;
    height: 112px;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 80rem) {
  .nav {
    padding-left: 9rem;
  }
}
.nav__logo {
  padding: 16px 0 8px 0;
  width: 160px;
}
@media screen and (min-width: 48rem) {
  .nav__logo {
    padding-left: 2.25rem;
    padding-right: 4.5rem;
  }
}
.nav__items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
@media screen and (min-width: 48rem) {
  .nav__items {
    width: auto;
    height: 100%;
    align-items: flex-end;
  }
}
.nav__link {
  color: #e1e1e1;
  padding-bottom: 21.6px;
  width: 50%;
  text-align: center;
}
.nav__link:active {
  color: #ffffff;
  font-weight: 700;
}
.nav__link:hover {
  color: #ffffff;
  font-weight: 600;
}
.nav__link--highlight {
  border-bottom: 0.125rem solid #ffffff;
  font-weight: 600;
}
@media screen and (min-width: 48rem) {
  .nav__link {
    width: 100%;
    margin-right: 3rem;
    height: 42%;
  }
}

.hero {
  background-image: url(../assets/images/hero-bio.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 320px;
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 48rem) {
  .hero {
    height: 510.4px;
  }
}
@media screen and (min-width: 80rem) {
  .hero {
    height: 80vh;
  }
}
.hero__title {
  color: #ffffff;
  background-color: rgba(32, 32, 32, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1.25rem;
}
@media screen and (min-width: 48rem) {
  .hero__title {
    padding-left: 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .hero__title {
    padding-left: 192px;
  }
}

.header {
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 48rem) {
  .header {
    margin-bottom: 3rem;
  }
}

.intro {
  padding: 0 1.25rem;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 48rem) {
  .intro {
    padding: 0 2.25rem;
    position: relative;
  }
}
@media screen and (min-width: 80rem) {
  .intro {
    padding: 0 176px;
  }
}
@media screen and (min-width: 48rem) {
  .intro__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 80rem) {
  .intro__body {
    max-width: 96%;
    margin-left: auto;
    margin-right: auto;
  }
}
.intro__images {
  width: 100%;
  padding-top: 1.25rem;
  aspect-ratio: 17/9;
}
@media screen and (min-width: 48rem) {
  .intro__images {
    width: 87%;
  }
}
@media screen and (min-width: 80rem) {
  .intro__images {
    height: 80%;
    padding-top: 3rem;
  }
}
.intro__slogan--quote {
  padding-top: 1.25rem;
  color: #323232;
}
.intro__slogan--citation {
  font-weight: 600;
  padding-bottom: 1.5rem;
}
@media screen and (min-width: 48rem) {
  .intro__slogan--citation {
    padding-top: 2.25rem;
    padding-bottom: 3rem;
  }
}
@media screen and (min-width: 48rem) {
  .intro__slogan {
    padding-top: 2.25rem;
    padding-left: 5%;
    padding-right: 6%;
  }
}
@media screen and (min-width: 48rem) {
  .intro__content {
    padding-left: 5%;
    padding-right: 5%;
  }
}
.intro__content--title {
  padding-bottom: 1.25rem;
}
.intro__content--reading {
  padding-bottom: 1.25rem;
  font-weight: 400;
}
@media screen and (min-width: 48rem) {
  .intro__content--reading:first-child {
    margin-right: 32px;
  }
}
@media screen and (min-width: 48rem) {
  .intro__content--reading {
    padding-bottom: 3rem;
  }
}
@media screen and (min-width: 48rem) {
  .intro__content--card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.gallery {
  padding: 1.25rem 1.25rem;
  background-color: #fafafa;
}
@media screen and (min-width: 48rem) {
  .gallery {
    padding: 2.25rem 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .gallery {
    padding: 3rem 176px;
  }
}
.gallery__pic {
  width: 100%;
  padding-bottom: 1.25rem;
}
@media screen and (min-width: 48rem) {
  .gallery__pic {
    width: 31%;
    padding-bottom: 2.25rem;
  }
}
.gallery__title {
  padding-bottom: 1.25rem;
}
@media screen and (min-width: 48rem) {
  .gallery__title {
    padding-top: 2.25rem;
    padding-bottom: 3rem;
    font-weight: 600;
  }
}
@media screen and (min-width: 48rem) {
  .gallery__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
  }
}

.footer {
  position: relative;
  width: 100%;
}
@media screen and (min-width: 48rem) {
  .footer {
    height: 120%;
    font-size: 1.0625rem;
    line-height: 1.75rem;
    font-weight: 400;
  }
}
.footer__blank {
  height: 32px;
  display: none;
}
@media screen and (min-width: 48rem) {
  .footer__blank {
    display: block;
  }
}
.footer__logo--mobile {
  padding-bottom: 1.25rem;
  padding-top: 3.75rem;
}
@media screen and (min-width: 48rem) {
  .footer__logo--mobile {
    display: none;
  }
}
.footer__logo--tablet {
  display: none;
}
@media screen and (min-width: 48rem) {
  .footer__logo--tablet {
    display: block;
    position: absolute;
    width: 160px;
    right: 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer__logo--tablet {
    right: 9rem;
  }
}

.social {
  background-color: #323232;
  color: #ffffff;
  padding: 1.5rem 1.25rem 1.25rem 1.25rem;
}
@media screen and (min-width: 48rem) {
  .social {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    padding-top: 3rem;
  }
}
@media screen and (min-width: 80rem) {
  .social {
    padding: 3rem 9rem;
  }
}
@media screen and (min-width: 48rem) {
  .social__media {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}
.social__media > * {
  padding-bottom: 1.25rem;
}
.social__media--list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (min-width: 48rem) {
  .social__media--list {
    padding-left: 32px;
  }
}
.social__media--link {
  margin-right: 32px;
}
@media screen and (min-width: 48rem) {
  .social__media--title {
    font-weight: 600;
  }
}
@media screen and (min-width: 48rem) {
  .social__media--pic {
    width: 2.5rem;
    max-height: 2rem;
  }
}
.social__contact > * {
  padding-bottom: 1.25rem;
}
.social__contact > * > * {
  padding-bottom: 1.25rem;
}
.social__contact--email {
  color: #ffffff;
}
@media screen and (min-width: 48rem) {
  .social__contact {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 3rem 0;
  }
}
@media screen and (min-width: 48rem) {
  .social__contact--person {
    padding: 0 3.2px;
    padding-right: 80px;
  }
}
@media screen and (min-width: 80rem) {
  .social__contact--person {
    padding-right: 56.8px;
  }
}
@media screen and (min-width: 48rem) {
  .social__contact--name {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
  }
}
@media screen and (min-width: 80rem) {
  .social__contact--name {
    font-size: 1.125rem;
  }
}
.social__contact__copyright {
  padding-top: 20%;
}
@media screen and (min-width: 48rem) {
  .social__contact__copyright {
    height: 80px;
  }
}

.fans {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.fans__container {
  height: 30%;
  width: 100%;
  border-bottom: 0.1875rem solid #e1e1e1;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.fans__container--section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 80%;
  height: 400px;
}
.fans__container--label {
  color: #afafaf;
  font-size: 16px;
}
.fans__container--name {
  display: block;
  background-color: #fafafa;
  color: #323232;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}
.fans__container--name:focus {
  border: 1px solid #323232;
  outline: none;
}
.fans__container--comment {
  background-color: #fafafa;
  color: #323232;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  width: 60%;
  height: 50%;
}
.fans__container--comment:focus {
  border: 1px solid #323232;
  outline: none;
}
.fans__container--error {
  border: 0.0625rem solid #d22d2d;
}
.fans__container--name {
  min-height: 2.25rem;
  width: 100%;
}
.fans__container--comment {
  width: 100%;
  max-height: 160px;
}
.fans__container--avatar {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  margin-top: 40px;
  background-image: url(../assets/images/Mohan-muruge.jpg);
  background-size: cover;
}
.fans__container--submit {
  color: #ffffff;
  height: 4.375rem;
  background-color: #323232;
  border-radius: 0.25rem;
  border: none;
  padding: 0;
  width: 102%;
}
.fans__saved {
  margin-top: 32px;
}
.fans__saved--section {
  max-height: 50rem;
  overflow-y: scroll;
}
.fans__saved--content {
  border-bottom: 0.1875rem solid #e1e1e1;
}
.fans__saved--avatar {
  float: left;
  background-color: #e1e1e1;
  border: 0.0625rem solid #e1e1e1;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
}
.fans__saved--info {
  display: flex;
  justify-content: space-between;
  margin-left: 80px;
  padding-bottom: 16px;
}
.fans__saved--name {
  display: inline-block;
  white-space: nowrap;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 15rem;
}
.fans__saved--comment {
  margin-left: 80px;
  padding-bottom: 32px;
  word-wrap: break-word;
}
.fans__saved--date {
  color: #afafaf;
  min-width: 7.175rem;
}/*# sourceMappingURL=bio.css.map */