@use "../styles/partials/css-reset" as *;
@use "../styles/partials/font" as *;
@use "../styles/partials/colors" as *;
@use "../styles/partials/partials" as *;
@use "../styles/partials/variables" as *;
// navigation bar
.nav{
    background-color: $color-black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-white;
    @include tablet{
        flex-direction: row;
        height: 7rem;
        justify-content: flex-start
    }
    @include desktop{
        padding-left: 3*$desktop-long-padding;
    }
    &__logo{
        // @include logo;
        padding: 1rem 0 0.5rem 0;
        width: 10rem;
        @include tablet{
            padding-left: $desktop-short-padding;
            padding-right: 2*$desktop-short-padding;
        }
    }
    &__items{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        @include tablet{
            width: auto;
            height: 100%;
            align-items: flex-end;
            
        }
    }
    &__link{
        color: $color-mercury;
        padding-bottom: 1.35rem;
        width: 50%;
        text-align: center;
        &:active{
            color: $color-white;
            font-weight: $bold;
        }
        &:hover{
            color: $color-white;
            font-weight: $demi;
        }
        &--highlight{
            border-bottom: 2px solid $color-white;
            font-weight: $demi;
        }
        @include tablet{
            width: 100%;
            margin-right: $desktop-long-padding;
            height: 42%;
        }
    }
}
// hero
.hero{
    background-image: url(../assets/images/hero-bio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 20rem;
    position: relative;
    overflow: hidden;
    @include tablet{
        height: 31.9rem;
    }
    @include desktop{
     height: 80vh;
    }
    &__title{
        color: $color-white;
        background-color: rgba(32, 32, 32, 0.5);
        height: 100%;
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: $mobile-short-padding;
        @include tablet{
            padding-left: $desktop-short-padding;
        }
        @include desktop{
            padding-left: 12rem;
        }
    }
}
// header margin
.header{
    margin-bottom: $mobile-long-padding;
    @include tablet{
        margin-bottom: $desktop-long-padding;
    }
}

// main content
// intro
.intro{
    padding: 0 $mobile-short-padding;
    display: flex;
    flex-direction: column;
    @include tablet{
        padding: 0 $desktop-short-padding;
        position: relative;;
    }
    @include desktop{
        padding: 0 11rem;
    }
    &__body{
        @include tablet{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        @include desktop{
            max-width: 96%;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &__images{
        width: 100%;
        padding-top: $mobile-short-padding;
        aspect-ratio: 17 / 9;
        @include tablet{
            width: 87%;
            }
        @include desktop{
            height: 80%;
            padding-top: $desktop-long-padding;
        }
    }
    &__slogan{
        &--quote{
        padding-top: $mobile-short-padding;
        color: $color-black;
        }
        &--citation{
            font-weight: $demi;
            padding-bottom: $mobile-long-padding;
            @include tablet{
                padding-top: $desktop-short-padding;
                padding-bottom: $desktop-long-padding;
            }
        }
        @include tablet{
            padding-top: $desktop-short-padding;
            padding-left: 5%;
            padding-right: 6%;
        }
    }
    &__content{
        @include tablet{
            padding-left: 5%;
            padding-right: 5%;
        }
        &--title{
            padding-bottom: $mobile-short-padding;
        }
        &--reading{
            padding-bottom: $mobile-short-padding;
            font-weight: 400;
            &:first-child{
                @include tablet{
                margin-right: 2rem;
            }
        }
        @include tablet{
            padding-bottom: $desktop-long-padding;
        }
    }
        &--card{
            @include tablet{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }
    }
}
.gallery{
    padding: $mobile-short-padding $mobile-short-padding;
    background-color: $color-alabaster;
    @include tablet{
        padding: $desktop-short-padding $desktop-short-padding;
    }
    @include desktop{
        padding: $desktop-long-padding 11rem;
    }
    &__pic{
        width: 100%;
        padding-bottom: $mobile-short-padding;
        @include tablet{
            width: 31%;
            padding-bottom: $desktop-short-padding;
        }
    }
    &__title{
        padding-bottom: $mobile-short-padding;
        @include tablet{
            padding-top: $desktop-short-padding;
            padding-bottom: $desktop-long-padding;
            font-weight: 600;
        }
    }
    &__list{
        @include tablet{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-content: space-between;
            flex-wrap: wrap;
        }
    }
}
.footer{
    position: relative;
    width: 100%;
    @include tablet{
        height: 120%;
        @include desktop-footer-copy;
    }
    &__blank{
    height: 2rem;
    display: none;
    @include tablet{
        display: block;
    }
    }
    &__logo{
        &--mobile{
    padding-bottom: $mobile-short-padding;
    padding-top: 3*$mobile-short-padding ;
    @include tablet{
        display: none;
    }
}
    &--tablet{
        display: none;
        @include tablet{
            display: block;
            position: absolute;
            width: 10rem;
            right: $desktop-short-padding;
            }
        @include desktop{
            right: 3*$desktop-long-padding
        }
    }
}
}
.social{
    background-color: $color-black;
    color: $color-white;
    padding: $mobile-long-padding $mobile-short-padding $mobile-short-padding $mobile-short-padding;
    @include tablet{
        padding-left: $desktop-short-padding;
        padding-right: $desktop-short-padding;
        padding-top: $desktop-long-padding;
    }
    @include desktop{
        padding: $desktop-long-padding 3*$desktop-long-padding;
    }

    &__media{
        @include tablet{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
        & > *{
            padding-bottom: $mobile-short-padding;

        }
        &--list{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            @include tablet{
                padding-left: 2rem;
            }
        }
        &--link{
            margin-right: 2rem;
        }
        &--title{
            @include tablet{
                font-weight: 600;
            }
        }
        &--pic{
            @include tablet{
                width: 40px;
                max-height: 32px;
            }
        }
    }
    &__contact{
        & > *{
            padding-bottom: $mobile-short-padding;
            & > *{
                padding-bottom: $mobile-short-padding;
            }
        }
        &--email{
            color: $color-white;
        }
        @include tablet{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            padding: $desktop-long-padding 0;
        }
        &--person{
            @include tablet{
            padding: 0 0.2rem;
            padding-right: 5rem;
        }
            @include desktop{
                padding-right: 3.55rem;
            }
    }
        &--name{
            @include tablet{
            font-size: 16px;
            line-height: 24px;
            font-weight: 600;
        }
        @include desktop{
            font-size: 18px;
        }
        }
    &__copyright{
        padding-top: 20%;
        @include tablet{
            height: 5rem;
        }
    }
}
}

.fans{
    width: 90%;
    height: 50rem;
    &__container{
        height: 30%;
        width: 100%;
        border: 3px solid black;
        display: block;
        &--name{
            display: block;
        }
        &--comment{
            display: block;
            width: 60%;
            height: 50%;
        }
        &--avatar{
            width  : 60px;
            height: auto;
            aspect-ratio: 1/1;
            border-radius: 50%;
        }
    }
}