html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Avenir Next";
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf) format("opentype"), url(../../assets/fonts/Alternative\ files/AvenirNextLTPro.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf) format("opentype"), url(../../assets/fonts/Alternative\ files/AvenirNextLTPro-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf) format("opentype"), url(../../assets/fonts/Alternative\ files/AvenirNextLTPro-Demi.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}
body {
  font-family: "Avenir Next";
}

body {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
  }
}
@media screen and (min-width: 1280px) {
  body {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
  }
}

a {
  text-decoration: none;
}

.page-header, .section-header {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .page-header, .section-header {
    font-size: 60px;
    line-height: 68px;
    font-weight: 700;
  }
}

@media screen and (min-width: 768px) {
  .section-header {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
  }
}

.sub-header {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .sub-header {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
  }
}

.label {
  font-size: 10px;
  line-height: 20px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .label {
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
  }
}

@media screen and (min-width: 768px) {
  footer {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
}

.nav {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .nav {
    flex-direction: row;
    height: 7rem;
    justify-content: flex-start;
  }
}
.nav__logo {
  max-width: 120px;
  min-width: 20px;
  max-height: 20px;
  padding: 1rem 0 0.5rem 0;
}
@media screen and (min-width: 768px) {
  .nav__logo {
    padding-left: 36px;
    padding-right: 48px;
  }
}
.nav__items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .nav__items {
    width: auto;
    height: 100%;
    align-items: center;
  }
}
.nav__link {
  color: #e1e1e1;
  padding-bottom: 1rem;
  width: 50%;
  text-align: center;
}
.nav__link:active {
  color: #ffffff;
  font-weight: 700;
}
.nav__link:hover {
  color: #ffffff;
}
.nav__link--highlight {
  border-bottom: 2px solid #ffffff;
}
@media screen and (min-width: 768px) {
  .nav__link {
    width: 100%;
    margin-right: 48px;
  }
}

.hero {
  background-image: url(../assets/images/hero-bio.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 11rem;
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 31.9rem;
  }
}
.hero__title {
  color: #ffffff;
  background-color: rgba(32, 32, 32, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 16px;
}
@media screen and (min-width: 768px) {
  .hero__title {
    padding-left: 36px;
  }
}

header {
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  header {
    margin-bottom: 48px;
  }
}

.intro {
  padding: 0 16px;
}
@media screen and (min-width: 768px) {
  .intro {
    padding: 0 36px;
    position: relative;
  }
}
.intro__images {
  width: 100%;
  padding-top: 16px;
}
@media screen and (min-width: 768px) {
  .intro__images {
    width: 85%;
    padding: 36px auto;
    position: relative;
    left: 7%;
  }
}
.intro__slogan {
  padding-top: 16px;
}
.intro__slogan--citation {
  padding-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .intro__slogan--citation {
    padding-top: 36px;
    padding-bottom: 48px;
    padding-left: 5%;
    padding-right: 6%;
  }
}
@media screen and (min-width: 768px) {
  .intro__slogan {
    padding-top: 36px;
    padding-left: 5%;
    padding-right: 6%;
  }
}
@media screen and (min-width: 768px) {
  .intro__content {
    padding-left: 5%;
    padding-right: 5%;
  }
}
.intro__content--title {
  padding-bottom: 16px;
}
.intro__content--reading {
  padding-bottom: 16px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .intro__content--card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.gallery {
  padding: 16px 16px;
  background-color: #fafafa;
}
@media screen and (min-width: 768px) {
  .gallery {
    padding: 36px 36px;
  }
}
.gallery__pic {
  width: 100%;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .gallery__pic {
    width: 31%;
    padding-bottom: 36px;
  }
}
.gallery__title {
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .gallery__title {
    padding-top: 48px;
    padding-bottom: 48px;
    font-weight: 600;
  }
}
@media screen and (min-width: 768px) {
  .gallery__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
  }
}

footer {
  position: relative;
  width: 100%;
}

.social {
  background-color: #323232;
  color: #ffffff;
  padding: 24px 16px 16px 16px;
}
@media screen and (min-width: 768px) {
  .social {
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 48px;
  }
}
@media screen and (min-width: 768px) {
  .social__media {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}
.social__media > * {
  padding-bottom: 16px;
}
.social__media--list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .social__media--list {
    padding-left: 2rem;
  }
}
.social__media--link {
  margin-right: 2rem;
}
@media screen and (min-width: 768px) {
  .social__media--title {
    font-weight: 600;
  }
}
@media screen and (min-width: 768px) {
  .social__media--pic {
    width: 40px;
    max-height: 40px;
  }
}
.social__contact > * {
  padding-bottom: 16px;
}
.social__contact > * > * {
  padding-bottom: 16px;
}
.social__contact--email {
  color: #ffffff;
}
.social__copyright {
  padding-top: 20%;
}

.footer__logo {
  position: absolute;
  bottom: 7%;
  padding-left: 16px;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    bottom: 0;
    top: 4rem;
    right: 3.5rem;
    width: 15%;
  }
}/*# sourceMappingURL=bio.css.map */