html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Avenir Next";
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf) format("opentype"), url(../../assets/fonts/Alternative\ files/AvenirNextLTPro.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf) format("opentype"), url(../../assets/fonts/Alternative\ files/AvenirNextLTPro-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf) format("opentype"), url(../../assets/fonts/Alternative\ files/AvenirNextLTPro-Demi.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}
body {
  font-family: "Avenir Next";
}

body {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 400;
  overflow-x: hidden;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 1.25rem;
    line-height: 2.1rem;
    font-weight: 400;
  }
}

a {
  text-decoration: none;
}

.page-header, .section-header {
  font-size: 2.325rem;
  line-height: 3rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .page-header, .section-header {
    font-size: 4.8rem;
    line-height: 4.25rem;
    font-weight: 600;
  }
}

@media screen and (min-width: 768px) {
  .section-header {
    font-size: 3.35rem;
    line-height: 2.75rem;
    font-weight: 600;
  }
}

.sub-header {
  font-size: 1.35rem;
  line-height: 2.25rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .sub-header {
    font-size: 1.7rem;
    line-height: 2.25rem;
    font-weight: 600;
  }
}

.label {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .label {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 700;
  }
}

@media screen and (min-width: 768px) {
  footer {
    font-size: 1rem;
    line-height: 2.1rem;
    font-weight: 400;
  }
}

.header {
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .header {
    margin-bottom: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    margin-bottom: 5rem;
  }
}

.nav {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding: 1rem 0 0.5rem 0;
}
@media screen and (min-width: 768px) {
  .nav {
    flex-direction: row;
    height: 7rem;
    justify-content: flex-start;
    padding-left: 4.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .nav {
    padding-left: 9rem;
  }
}
.nav__logo {
  width: 10rem;
}
.nav__items {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .nav__items {
    width: auto;
    height: 100%;
    align-items: flex-end;
  }
}
.nav__link {
  color: #e1e1e1;
  padding-bottom: 1.35rem;
  width: 50%;
  text-align: center;
}
.nav__link:active {
  color: #ffffff;
  font-weight: 700;
}
.nav__link:hover {
  color: #ffffff;
  font-weight: 600;
}
.nav__link--highlight {
  border-bottom: 0.125rem solid #ffffff;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .nav__link {
    width: 100%;
    margin-right: 3rem;
    height: 42%;
  }
}
.nav__link:first-child {
  margin-left: 4.5rem;
}

.footer {
  position: relative;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer {
    font-size: 1rem;
    line-height: 2.1rem;
    font-weight: 400;
    height: 33rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    height: 25rem;
  }
}
.footer__logo--mobile {
  padding-bottom: 1.25rem;
  padding-top: 3.75rem;
}
@media screen and (min-width: 768px) {
  .footer__logo--mobile {
    display: none;
  }
}
.footer__logo--tablet {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer__logo--tablet {
    display: block;
    position: absolute;
    width: 10rem;
    right: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__logo--tablet {
    right: 9rem;
  }
}

.social {
  background-color: #323232;
  color: #ffffff;
  padding: 1.5rem 1.25rem 1.25rem 1.25rem;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .social {
    padding-left: 2.25rem;
    padding-right: 4.5rem;
    padding-top: 5rem;
  }
}
@media screen and (min-width: 1280px) {
  .social {
    padding: 3rem 9rem;
  }
}
@media screen and (min-width: 768px) {
  .social__media {
    display: flex;
    justify-content: flex-start;
  }
}
.social__media > * {
  padding-bottom: 1.25rem;
}
.social__media--list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .social__media--list {
    padding-left: 2rem;
  }
}
.social__media--link {
  margin-right: 2rem;
}
@media screen and (min-width: 768px) {
  .social__media--title {
    font-weight: 600;
  }
}
@media screen and (min-width: 768px) {
  .social__media--pic {
    width: 2.5rem;
    max-height: 2rem;
  }
}
.social__contact > * {
  padding-bottom: 1.25rem;
}
.social__contact > * > * {
  padding-bottom: 1.25rem;
}
.social__contact--email {
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .social__contact {
    display: flex;
    justify-content: flex-start;
    padding: 3rem 0;
  }
}
@media screen and (min-width: 768px) {
  .social__contact--person {
    padding: 0 0.2rem;
    padding-right: 4%;
  }
}
@media screen and (min-width: 1280px) {
  .social__contact--person {
    padding-right: 3.55rem;
  }
}
.social__contact--name {
  font-weight: 600;
}
@media screen and (min-width: 1280px) {
  .social__contact--name {
    font-size: 1.125rem;
  }
}
.social__contact__copyright {
  padding-top: 20%;
}
@media screen and (min-width: 768px) {
  .social__contact__copyright {
    padding-top: 3rem;
    height: 5rem;
  }
}/*# sourceMappingURL=global.css.map */