html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Avenir Next";
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf) format("opentype"), url(../../assets/fonts/Alternative\ files/AvenirNextLTPro.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf) format("opentype"), url(../../assets/fonts/Alternative\ files/AvenirNextLTPro-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf) format("opentype"), url(../../assets/fonts/Alternative\ files/AvenirNextLTPro-Demi.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}
body {
  font-family: "Avenir Next";
}

body {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 400;
  overflow-x: hidden;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 1.25rem;
    line-height: 2.1rem;
    font-weight: 400;
  }
}

a {
  text-decoration: none;
}

.page-header, .section-header {
  font-size: 2.325rem;
  line-height: 3rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .page-header, .section-header {
    font-size: 4.8rem;
    line-height: 4.25rem;
    font-weight: 600;
  }
}

@media screen and (min-width: 768px) {
  .section-header {
    font-size: 3.35rem;
    line-height: 2.75rem;
    font-weight: 600;
  }
}

.sub-header {
  font-size: 1.35rem;
  line-height: 2.25rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .sub-header {
    font-size: 1.7rem;
    line-height: 2.25rem;
    font-weight: 600;
  }
}

.label {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .label {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 700;
  }
}

@media screen and (min-width: 768px) {
  footer {
    font-size: 1rem;
    line-height: 2.1rem;
    font-weight: 400;
  }
}

.hero__shows {
  color: #ffffff;
  background-image: url(../assets/images/hero-shows.jpg);
  height: 27rem;
  z-index: 0;
}
@media screen and (min-width: 768px) {
  .hero__shows {
    height: 50rem;
  }
}
.hero__shows--background {
  background-color: rgba(32, 32, 32, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.hero__shows--background > * {
  padding-left: 1.25rem;
}
@media screen and (min-width: 768px) {
  .hero__shows--background > * {
    padding-left: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__shows--background > * {
    padding-left: 11.2%;
  }
}
.hero__shows--title {
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .hero__shows--title {
    font-size: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .hero__shows--title:nth-child(2) {
    font-size: 5rem;
    line-height: 7rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__shows--title:nth-child(2) {
    width: 50%;
  }
}
.hero__shows--title__break {
  white-space: nowrap;
}
.hero__shows--iframe {
  border-radius: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
@media screen and (min-width: 768px) {
  .hero__shows--iframe {
    width: 65%;
    height: 14rem;
    margin-left: 1%;
  }
}
@media screen and (min-width: 1280px) {
  .hero__shows--iframe {
    width: 33%;
    position: relative;
    bottom: 39%;
    left: 47%;
    justify-self: flex-end;
  }
}

.main-show {
  padding: 0;
}
@media screen and (min-width: 1280px) {
  .main-show {
    display: flex;
    justify-content: space-between;
  }
}
.main-show__header {
  padding: 1.5rem;
}
@media screen and (min-width: 768px) {
  .main-show__header {
    font-size: 3.35rem;
    line-height: 2.75rem;
    font-weight: 600;
  }
}
@media screen and (min-width: 1280px) {
  .main-show__header {
    width: 10%;
    padding-left: 7%;
  }
}

@media screen and (min-width: 768px) {
  .info {
    position: relative;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .info__wrap {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .info {
    width: 70%;
    padding-right: 7%;
  }
}
.info__container {
  padding: 0 1.5rem;
  width: 100%;
  border-bottom: 0.125rem solid #e1e1e1;
}
.info__container:hover {
  background-color: #fafafa;
}
.info__container:active {
  background-color: #e1e1e1;
}
.info__container--selected {
  background-color: #e1e1e1;
}
.info__tag {
  color: #afafaf;
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .info__tag {
    display: inline-block;
  }
}
.info__content--bold {
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .info__content--bold {
    padding-left: 2%;
  }
}
.info__ticket {
  width: 93%;
  height: 4rem;
  margin: 2rem 0;
  background-color: #323232;
  color: #ffffff;
  border-radius: 0.5rem;
  border: 0;
}
@media screen and (min-width: 768px) {
  .info__ticket {
    width: 80%;
    font-size: 1rem;
  }
}
.info__table {
  display: none;
}
.info__table--head {
  color: #afafaf;
  text-align: start;
}
.info__table--head:first-child {
  padding-left: 2%;
}
.info__table--row:not(:first-child) {
  border-bottom: 0.125rem solid #e1e1e1;
  height: 6rem;
}
.info__table--content {
  padding-top: 3%;
}
@media screen and (min-width: 768px) {
  .info__table {
    display: table;
  }
}/*# sourceMappingURL=shows.css.map */