@use "../styles/partials/css-reset" as *;
@use "../styles/partials/font" as *;
@use "../styles/partials/colors" as *;
@use "../styles/partials/partials" as *;
@use "../styles/partials/variables" as *;

.hero__shows{
    color: $color-white;
    background-image: url(../assets/images/hero-shows.jpg);
    height: 27rem;
    z-index: 0;
    &--background{
        background-color: rgba(32,32,32,0.5);
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        & > *{
            margin-left: $mobile-short-padding;
        }
    }
    &--title{
        z-index: 2;
        position: relative;
    }
    &--iframe{
        border-radius: .5rem;
        margin-left: auto;
        margin-right: auto;
    }
}
.main-show{
    padding: 0 $mobile-long-padding;
    &__header{
        padding-bottom: $mobile-long-padding;
        padding-top: $mobile-long-padding;
    }
}
.info{
   &__container{
       width: 100%;
       border-bottom: 2px solid $color-mercury;
   }
   &__tag{
       color: $color-silver;
       padding-top: 1rem;
   }
   &__content{
       &--bold{
           font-weight: 600;
       }
   }
   &__ticket{
       width: 100%;
       height: 4rem;
       margin: 2rem 0;
       background-color: $color-black;
       color: $color-white;
       border-radius: .5rem;
       border: 0;
   }
}